<!DOCTYPE html>
<html>
<head>
  <title>Realtime Tracker</title>

  <link rel="stylesheet" href="/css/style.css">

  <link rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>

<body>

  <div class="username-box">
    <input id="username" placeholder="Enter your name" />
    <button onclick="saveName()">Save</button>

    <button onclick="createParty()">Create Party</button>
    <button onclick="joinParty()">Join Party</button>
  </div>

  <div id="partyBox">
      <b>Status:</b> <span id="status">Not in party</span><br>
      <b>Party Code:</b> <span id="code">—</span>
  </div>

  <div id="map"></div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/script.js"></script>

</body>
</html>
