body {
  margin: 0;
  font-family: Arial;
}

#map {
  height: 100vh;
  width: 100%;
}

/* Username box UI */
.username-box {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;

  background: rgba(0,0,0,0.7);
  padding: 8px 12px;
  border-radius: 8px;

  display: flex;
  gap: 6px;
}

.username-box input {
  padding: 5px 8px;
  border-radius: 4px;
  border: none;
}

.username-box button {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* (Optional) hide leaflet attribution in dev */
.leaflet-control-attribution{
  display:none !important;
}


#topbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:60px;
  background:#0f172a;
  color:white;
  display:flex;
  align-items:center;
  gap:15px;
  padding:0 20px;
  z-index:9999;
}

.logo{
  font-weight:900;
  font-size:20px;
}

.status{
  padding:6px 10px;
  background:#1f2937;
  border-radius:8px;
}

.codeBox{
  background:#111827;
  padding:6px 10px;
  border-radius:8px;
}

#map{
  height:100vh;
  margin-top:60px; /* important */
}

#sosBtn{
  margin-left:auto;
  background:#ef4444;
  color:white;
  border-radius:10px;
}
